html,body {
  padding: 0;
  margin: 0;
  height: 100%;
}


@font-face {
  font-family: Poppins-Regular;
  src: url('/src/assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/src/assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/src/assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/src/assets/fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: GBK;
  src: url('/src/assets/fonts/poppins/DFPZongYiW7-GB5.ttf'); 
}

